* {
    box-sizing: border-box;
}

:root {
    --primary-color: blue ;
    --secondary-color: white;
    --text-color: #333;
    --border-radius: 5px;
    --padding: 10px;
}
body {
    font-family: Arial, sans-serif;
    background-color: var(--secondary-color);
    color: var(--text-color);
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
    padding: 1rem;
    color: white;
    background-color: darkgreen;
    max-width: 600px;
    margin: 0 auto 20px auto ;
}


form {
    max-width: 600px;
    margin: 0 auto;
    background: lightgray;
    padding: 20px;
    border-radius: var(--border-radius);
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

/*overall rating vertical run*/
.rating {
  display: flex;

  gap: 8px;
}

.rating label {
  display: flex;
  align-items: center;
  cursor: pointer;
}


input,
select,
textarea {
    width: 100%;
    padding: var(--padding);
    margin-top: 5px;
}

fieldset {
    margin-top: 15px;
    border: none;
}


input[type="submit"] {
    margin-top: 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: white;
    background-color: darkgreen;
    padding: 1rem;
    max-width: 600px;
    margin: 0 auto 20px auto ;    
}

