@media (min-width: 768px) {

  nav {
    display: flex;
    gap: 1rem;
  }

  main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }

  main h1 {
    grid-column: 1 / -1;
  }

  figure {
    margin: 0;
  }
}



@media (min-width: 768px) {

  /* Grid adapts for larger screens */
  main {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  /*
  header {
    text-align: left;
  }*/  

  nav {
    justify-content: flex-start;
  }
}